# CODEOWNERS file to define who need to approve a pull request according defined rules below:

# Changes to files in the Trustly Android project must be reviewed and approved by the 'AMER - Developer Experience' team.
* @andresguedes @lukevance @marcosrivereto @pedroabdenor @ricardoerib